<section class="notfound">
  <div class="wrap notfound__inner">
    <p class="notfound__code" aria-hidden="true">404</p>
    <h1>Такой страницы <em>нет</em></h1>
    <p class="notfound__text">Возможно, ссылка устарела или в адресе опечатка. Вернитесь на главную или загляните в журнал фермы.</p>
    <div class="notfound__actions">
      <a class="btn btn--dark" href="./">На главную {{icon:arrow}}</a>
      <a class="btn btn--outline" href="articles/">Журнал фермы</a>
    </div>
  </div>
</section>
